/* Configure Css */
:root {
    --c-first: #000000;
    --c-second: #FFCA3C;
    --c-third: #FFFFFF;
    --c-fourth: #202938;
    --c-fifth: #E5E5E5;
    --font-base: "poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-base);
    line-height: 1.6;
    font-size: 16px;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 20vw;
}

body {
    overflow-x: hidden;
    color: var(--c-third);
}

button {
    background-color: var(--c-first);
    color: var(--c-fourth);
    border: 1px solid var(--c-fourth);
    padding: 5px 10px;
    border-radius: 14px;
}

button:hover {
    background-color: var(--c-fourth);
    color: var(--c-first);
}
/* reusable */
.btn{
    background-color: var(--c-second);
    padding: 5px 10px;
    color: var(--c-fourth);
    border-radius: 8px;

}
section{
    background-color: var(--c-fourth);
    height: 100vh;
    width: 100vw;
}

/* top container */
.top-container {
    display: flex;
    background-color: var(--c-first);
    height: 15vh;
}

.top-wrapper {
    margin: 0 10vw;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.contact-wrapper {
    background-color: var(--c-third);
    color: var(--c-first);
    /* padding: 10px 20px; */
    border-radius: 30px;
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper p {
    font-size: 0.7rem;
}

.contact-wrapper h3 {
    font-size: 0.8rem;
}

.logo h1 {
    font-size: 1.5rem;
}

.logo h1 i,
.logo h1 span {
    font-size: 1.7rem;
    margin-left: 10px;
}

.action-container {
    background-color: var(--c-third);
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 1.5vh;
}

.action-container i {
    color: var(--c-first);
    font-size: 1.6rem;
}

/* navigation bar */
nav {
    position: absolute;
    margin: 0 10vw;
    margin-top: -1vh;
    width: 80vw;
    height: 5vh;
    background-color: var(--c-second);
    border-radius: 8px;
}

nav ul {
    margin: 0 10vw;
    width: 60vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--c-first);
}

nav ul li a h3,
nav ul li a i {
    font-size: 1.4rem;
}

/* header */
.header-section {
    background-color: var(--c-fourth);
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    width: 90vw;
    background-color: var(--c-first);
    height: 70vh;
    display: flex;
    overflow: hidden;
    border-radius: 14px;
}

.image-box {
    position: relative;
    width: 15vw;
    height: 70vh;
    transition: width 0.5s ease;
    overflow: hidden;
}

.image-box .content {
    position: absolute;
    bottom: 0;
    width: 23vw;
    height: 30vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.808),#000000ab,#0000006c,#000000);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-box .content p{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;
}
.image-box .content h2{
    font-size: 1.5rem;
}

.image-box:hover .content {
    opacity: 1;
}

.image-box:hover {
    width: 25vw;
}

.image-box:not(:hover) {
    width: 15vw;
}

/* Different Images for Each Container */
#image1 {
    background: url('../Assest/burger.jpg') no-repeat center center/cover;
}

#image2 {
    background: url('../Assest/coffee.jpg') no-repeat center center/cover;
}

#image3 {
    background: url('../Assest/pizza.jpg') no-repeat center center/cover;
}

#image4 {
    background: url('../Assest/milkshake.jpg') no-repeat center center/cover;
}

#image5 {
    background: url('../Assest/Dinner-Rolls-Basket.jpg') no-repeat center center/cover;
}
#image6 {
    background: url('../Assest/seafood.jpg') no-repeat center center/cover;
}
/* aboutus section */
.welcome-wrapper{
    width: 100vw;
    height: 30vh;
    display: flex;
    background-color: var(--c-first);
}
.welcome-txt-container{
    width: 50vw;
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}
.welcome-txt-container h1{
    font-size: 1.2rem;
}
.img img{
    width: 40vw;
    height: 30vh;
    object-fit: cover;
}
/* about section - chef */
.chef-wrapper{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.Chef-container{
    background-color: #000000;
    display: flex;
    width: 65vw;
    gap: 20px;
    align-items: center;
}
.chef-img-wrapper img{
    height: 65vh;
    width: 35vw;
    margin-left: 2.5vh;
}
.Chef-container div{
    margin-right: 10px;
}
.Chef-container div h1{
    font-size: 2rem;
    color: var(--c-second);
}
.Chef-container h2{
    position: relative;
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.575);
    margin-bottom: 2vh;
}
.Chef-container p{
    font-size: 0.8rem;
}
/* order details */
.order-details-wrapper{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-color: var(--c-third);
}
.order-details-container{
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-words h1 {
    font-size: 4rem;
    color: var(--c-first);
}
.left-words p ,.right-text p{
    color: var(--c-second);
    
}
.right-text h1{
    font-size: 2rem;
    color: #000000;
}
